<!DOCTYPE html>
<html>
        <body>
            <h1>Join everyone playing Rock Paper Scissors</h1>

            <p style="display:inline-block; margin:0">Won:</p> <span id="won" ></span>
            <br/>
            <p style="display:inline-block; margin:0">Loss:</p> <span id="loss" ></span>
            <br/>
            <p style="display:inline-block; margin:0">Ties:</p> <span id="ties" ></span>
            <br/>
            <p style="display:inline-block; margin-top:0">Played:</p> <span id="played" ></span>
            <br/>
            <p style="display:inline-block; margin:0">Computer chooses</p> <span id="computerChoice"></span>
            <br/>
            <p style="display:inline-block; margin:0">Player chooses </p> <span id="playerChoice"></span>
            <br/>
            <button onclick="getPlayerChoice('Rock')">Rock</button>
            <button onclick="getPlayerChoice('Paper')">Paper</button>
            <button onclick="getPlayerChoice('Scissors')">Scissors</button>
            <br/>
            <h1 id="gameResults"></h1>
                <script>  
                    var url = 'https://worldminigame.com/api/players/1';
                    var wonElement = document.getElementById("won");
                    var lossElement = document.getElementById("loss");
                    var tiesElement = document.getElementById("ties");
                    var playedElement = document.getElementById("played");
                    const csrfToken = getCookie('CSRF-TOKEN');
                    updatePlayerStats();

                    function updatePlayerStats() {
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                console.log(data)
                                wonElement.innerHTML = data.won
                                lossElement.innerHTML = data.loss
                                tiesElement.innerHTML = data.ties
                                playedElement.innerHTML = data.played
                            });
                    }
                    
                    function getCompChoice() {
                        choice = Math.floor(Math.random() * 3);
                        var computerChoice = document.getElementById("computerChoice");
                        switch(choice) {
                            case 0:
                                computerChoice.innerHTML = 'Rock';
                                return 'Rock';
                            case 1:
                                computerChoice.innerHTML = 'Paper';
                                return 'Paper';
                            case 2:
                                computerChoice.innerHTML = 'Scissors';
                                return 'Scissors';
                            default:
                                return;
                        }
                    }
                    
                    function getPlayerChoice(val) {
                        var computer = getCompChoice();
                        document.getElementById("playerChoice").innerHTML = val;
                        getResult(val, computer);
                    }

                    function getResult(player, computer) {
                        var results = document.getElementById("gameResults");

                        switch(player + computer) {
                            case 'ScissorsPaper':
                            case 'RockScissors':
                            case 'PaperRock':
                                updateResults(0, updatePlayerStats);
                                results.innerHTML = "You Win!!";
                                break;
                            case 'PaperScissors':
                            case 'ScissorsRock':
                            case 'RockPaper':
                                updateResults(1, updatePlayerStats);
                                results.innerHTML = "You Lose!!";
                                break;
                            default:
                                updateResults(2, updatePlayerStats);
                                results.innerHTML = "Tie!!";
                                break;
                        }
                    }

                    function updateResults(results, cb) {
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                switch(results) {
                                    case 0:
                                        data.won++;
                                        break;
                                    case 1:
                                        data.loss++;
                                        break;
                                    default:
                                        data.ties++;
                                        break;
                                }
                                data.played++

                                fetch(url, {
                                    method: 'PUT', // or 'PUT'
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRF-TOKEN': csrfToken,
                                    },
                                    body: JSON.stringify(data),
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log('Success:', data);
                                        cb();
                                    })
                                    .catch((error) => {
                                        console.error('Error:', error);
                                    });
                            });
                    }

                </script>
            </body>
    
</html>